footer {
	@include disable-lists;
	background: $black;
	width: 100%;
	overflow: hidden;
	.wrapper {
		overflow: visible;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	nav.footer-menu {
		background: $white;
		width: 100%;
		position: relative;
		padding: 15px 0;
	}
	ul.social-menu {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
		li {
			margin-right: 20px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		a {
			font-size: 1.2em;
		}
	}
}
