</main>
<footer>
	<div class="wrapper">
		<nav class="footer-menu">
			<ul class="menu social-menu">
				<li class="menu-item">
					<a href="#" class="link social-link insta"
						><span class="visually-hidden">Instagram</span
						><i aria-hidden="true" class="fab fa-instagram"></i
					></a>
				</li>
				<li class="menu-item">
					<a href="#" class="link social-link linkedin"
						><span class="visually-hidden">Linked In</span
						><i aria-hidden="true" class="fab fa-linkedin-in"></i
					></a>
				</li>
				<li class="menu-item">
					<a href="#" class="link social-link email"
						><span class="visually-hidden">Email</span
						><i aria-hidden="true" class="far fa-paper-plane"></i
					></a>
				</li>
			</ul>
		</nav>
	</div>
</footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>

</html>
