<a href="#main" class="skip-nav">Skip navigation</a>

<header>

    <div class="wrapper">
      <a href="#" id="nav-toggle" class="nav-toggle closed">
        <span class="toggle-wrapper">
          <span class="toggle-bar toggle-bar-1"></span>
          <span class="toggle-bar toggle-bar-2"></span>
          <span class="toggle-bar toggle-bar-3"></span>
        </span>
        <span class="visually-hidden">Show Main Menu</span>
      </a>
      <div class="logo-box">
        <a href="#home" class="logo">SP</a>
      </div>
      <nav class="top-menu">
        <ul class="menu main-menu">
          <li class="menu-item">
            <a href="#home" class="link active">home</a>
          </li>
          <li class="menu-item">
            <a href="#work" class="link">work</a>
          </li>
          <li class="menu-item">
            <a href="#about" class="link">about</a>
          </li>
        </ul>
      </nav>
      <nav class="hamburger-menu">
        <div class="wrapper">
          <div class="row">
            <ul class="menu mobile-menu">
              <li class="menu-item">
                <a href="#home" class="link">home</a>
              </li>
              <li class="menu-item">
                <a href="#work" class="link">work</a>
              </li>
              <li class="menu-item">
                <a href="#about" class="link">about</a>
              </li>
            </ul>
            <ul class="menu social-menu">
              <li class="menu-item">
                <a href="#" class="link social-link insta"><span class="visually-hidden">Instagram</span><i aria-hidden="true" class="fab fa-instagram"></i></a>
              </li>
              <li class="menu-item">
                <a href="#" class="link social-link linkedin"><span class="visually-hidden">Linked In</span><i aria-hidden="true" class="fab fa-linkedin-in"></i></a>
              </li>
              <li class="menu-item">
                <a href="#" class="link social-link email"><span class="visually-hidden">Email</span><i aria-hidden="true" class="far fa-paper-plane"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  <main>