@keyframes arrow-bounce {
	from {transform: translateY(-20px)}
	to {transform: translateY(0px)}
}

.block.hero {
	.row {
		display: flex;
	}
	.col {
		flex: 1 0 50%;
	}
	.content {
		padding: $bottom-margin 0;
	}
	.image {
		display: block;
	}
	&.style-1 {
		height: 100vh;
		overflow: hidden;
		.row {
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
		.content {
			padding: 20px 0;
		}
		.title {
			margin-top: 70px;
			z-index: 101;
			overflow: hidden;
			&.clear {
				opacity: 0;
			}
			&.done {
				z-index: initial;
			}
			@include mobile-only {
				@include heading-settings(19vw, $heading-font-family, 1.1);
				margin-top: 90px;
			}
		}
		.buttons {
			margin-top: 0;
			margin-bottom: 20px;
		}
		a.down i {
			display: inline-block;
			transform: translateZ(0);
			animation: arrow-bounce 1s ease-in-out infinite alternate;
		}
	}
}
