// Global Button Styles
button {
	cursor: pointer;
}

#{$all-buttons} {
	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
}

// Theme Buttons
.block {
	.buttons .btn {
		@include btn-base();
		i {
			font-size: .8em;
			margin-left: 5px;
		}
		&:after {
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			z-index: -1;
			width: 100%;
			height: 100%;
			border: $btn-border;
			background: $white;
			transition: top 300ms, left 300ms;
		}
		&:hover {
			&:after {
				top: 5px;
				left: 5px;
			}
		}
	}
	.buttons {
		position: relative;
		margin-top: 40px;
	}
}
