html {
	background-color: $viewport-background-color;
	// box-sizing: border-box;
	scroll-behavior: smooth;
}

.block {
	// margin-bottom: $bottom-margin;
	width: 100%;
	position: relative;
	border-bottom: $base-border;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body,
main {
	height: auto;
	width: 100%;
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.wrapper,
.wp-block-group__inner-container {
	width: auto; // For whatever reason this fixes the wrapper from being wider than the body
	height: 100%;
	max-width: $site-width;
	background-color: $white;
	padding: 0 20px;
	overflow: hidden;
	position: relative;
	display: block;
	border-right: $base-border;
	border-left: $base-border;
}
.wp-block-group__inner-container {
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
	position: absolute;
	right: 999999999px;
	width: 0;
	height: 0;
	opacity: 0;
}

.align-left,
.text-align-left {
	text-align: left;
}
.text-align-center,
.align-center {
	text-align: center;
}
.align-right,
.text-align-right {
	text-align: right;
}

.content-left .row {
	flex-direction: row-reverse;
}
.content-right .row {
	flex-direction: row;
}
.content-center .row {
	text-align: center;
	.buttons {
		justify-content: center;
	}
}
