// Breakpoints
@mixin mobile-only {
	@media (max-width: 599px) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: 900px) {
		@content;
	}
}
@mixin small-desktop {
  @media (max-width: 1100px) {
    @content;
  }
}

// Styleguide
@mixin heading-settings($size, $font: $heading-font-family, $height: 1, $margin: 30px, $transform: uppercase) {
  font-size: $size;
  font-family: $font;
  line-height: $height;
  margin-bottom: $margin;
  text-transform: $transform;
}

// Utility
@mixin link-style() {
	font-family: $base-font-family;
	letter-spacing: 0.155em;
	text-transform: uppercase;
}

@mixin image-cover() {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}

@mixin clear-list() {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin disable-lists() {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

@mixin clear-btn() {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	width: auto;
	height: auto;
	padding: 0;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background: transparent;
	border: none;
	color: $base-font-color;
	transform: translate(0);
	text-transform: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	&:before,
	&:after {
		content: none;
	}
}

@mixin aspect-ratio($width, $height) {
	// https://css-tricks.com/aspect-ratio-boxes/
	// calc(591.44 / 1127.34 * 100%);
	height: 0;
	padding-top: $height / $width * 100%;
}

@mixin flex($justify: center, $align: center, $dir: row, $wrap: wrap) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}

@mixin display-value($var) {
	&:after {
		content: "";
		position: relative;
		display: block;
		width: 200px;
		height: 200px;
		background-color: $var;
	}
}

// Button base
@mixin btn-base() {
	position: relative;
	display: inline-block;
	padding: 5px 15px;
	font-family: $base-font-family;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
	// font-weight: 600;
	// line-height: 1.4;
	// text-decoration: underline;
	color: $btn-text-color;
	background-color: $btn-bg-color;
	border: $btn-border;
	// border-radius: $btn-border-radius;
	transition: all $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	box-sizing: content-box;
	cursor: pointer;
	&:hover {
		color: $base-font-color;
		background: $white;
	}
	&:focus {
		outline: $focus-outline;
		outline-offset: 3px;
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
